{% extends 'base.html' %}

{% block content %}
<style>
    /* Tus estilos personalizados aquí */
</style>

<div class="container mt-5">
    <h2>{% if producto %}Editar Producto{% else %}Agregar Producto{% endif %}</h2>
    <br>
    <form method="post" novalidate>
        {% csrf_token %}
        <!-- Renderiza los campos uno por uno para personalizar -->
        {{ form.codigo.label_tag }}: {{ form.codigo }}<br>
        {{ form.nombre.label_tag }}: {{ form.nombre }}<br>
        {{ form.descripcion.label_tag }}: {{ form.descripcion }}<br>
        {{ form.precio_compra.label_tag }}: {{ form.precio_compra }}<br>
        {{ form.precio_venta.label_tag }}: {{ form.precio_venta }}<br>
        {{ form.stock.label_tag }}: {{ form.stock }}<br>
        {{ form.tiene_descuento.label_tag }}: {{ form.tiene_descuento }}<br>

        <!-- Checkbox personalizado para Fabricación -->
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="paraFabricacion" name="para_fabricacion" {% if form.para_fabricacion.value %}checked{% endif %}>
            <label class="form-check-label" for="paraFabricacion">Para Fabricación</label>
        </div>

        <!-- Botón que se habilitará cuando el checkbox esté seleccionado -->
        <button type="button" class="btn btn-info" id="btnMateriaPrima" data-target="#fabricacionModal" disabled>Materia Prima</button>

        <button type="submit" class="btn btn-primary">Guardar</button> 
        <a href="{% url 'Producto:listar_productos' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>



<!-- Modal para opciones de fabricación -->
<div class="modal fade" id="fabricacionModal" tabindex="-1" role="dialog" aria-labelledby="fabricacionModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="fabricacionModalLabel">Materia Prima</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <table class="table">
                  <thead>
                      <tr>
                          <th>Cantidad</th>
                          <th>Materia Prima</th>
                          <th>Precio Costo Unitario</th>
                          <th>Total Costo</th>
                      </tr>
                  </thead>
                  <tbody>
                      <!-- Aquí irán las filas agregadas dinámicamente -->
                  </tbody>
              </table>
              <div class="d-flex justify-content-between align-items-center">
                  <button class="btn btn-primary">Buscar Materia Prima</button>
                  <div>
                      Total Costo Producción: <input type="text" value="0.00" readonly class="total-costo-produccion">
                  </div>
              </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
              <button type="button" class="btn btn-primary" id="btnGuardarCambios">Guardar Cambios</button>
          </div>
      </div>
  </div>
</div>

<!--modal para buscar materia prima-->
<div class="modal fade" id="buscarMateriaPrimaModal" tabindex="-1" role="dialog" aria-labelledby="buscarMateriaPrimaModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="buscarMateriaPrimaModalLabel">Listado de Materia Prima</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <!-- Campo para buscar productos -->
              <input type="text" id="buscadorMateriaPrima" placeholder="Buscar">
              <br>
              <!-- Listado de productos -->
              <div style="max-height: 250px; overflow-y: auto; border: 1px solid #dee2e6;">
                  <table class="table table-bordered mb-0">
                      <thead>
                          <tr>
                              <th>Nombre</th>
                              <th>Precio Compra</th>
                          </tr>
                      </thead>
                      <tbody id="listaProductos">
                          <!-- Aquí se cargarán los productos desde tu base de datos -->
                      </tbody>
                  </table>
              </div>

              <!-- Detalles del producto seleccionado -->
              <div style="margin-top: 20px;">
                  Materia Prima: <input type="text" id="productoSeleccionado" readonly><br>
                  Cantidad: <input type="number" id="cantidadProducto" value="0"><br>
                  Costo Unitario: <input type="text" id="costoUnitarioProducto" value="0.00" readonly><br>
              </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-primary" id="aceptarProducto">Aceptar</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          </div>
      </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<div id="componentesContainer" style="display: none;"></div>
<input type="hidden" id="id_precio_compra" name="precio_compra" value="{{ form.precio_compra.value }}">


<script>
    document.addEventListener('DOMContentLoaded', function() {
        var checkbox = document.getElementById('paraFabricacion');
        var botonMateriaPrima = document.getElementById('btnMateriaPrima');

        // Función para habilitar/deshabilitar el botón de Materia Prima
        function toggleMateriaPrimaButton() {
            botonMateriaPrima.disabled = !checkbox.checked;
        }

        // Evento para cuando el estado del checkbox cambie
        checkbox.addEventListener('change', toggleMateriaPrimaButton);

        // Ejecutar al cargar para establecer el estado inicial del botón
        toggleMateriaPrimaButton();
    });

    //script para abrir el modal de la lista de materia prima
$(document).ready(function() {
        $('#btnMateriaPrima').click(function() {
            // Aquí se abre el modal cuyo id es "fabricacionModal"
            $('#fabricacionModal').modal('show');
          });
    
    function actualizarTotal() {
    let total = 0;
    $('#fabricacionModal table tbody tr').each(function() {
        total += parseFloat($(this).find('.total-costo').text());
    });
    $('#fabricacionModal .total-costo-produccion').val(total.toFixed(2));
    }

    function cargarProductos(busqueda = '') {
    $.ajax({
        url: 'http://127.0.0.1:8000/get_productos/',
        type: 'GET',
        dataType: 'json',
        success: function(data) {
            $('#listaProductos').empty();
            $.each(data, function(index, producto) {
                if (!busqueda || producto.nombre.toLowerCase().includes(busqueda.toLowerCase())) {
                    let precio_compra = parseFloat(producto.precio_compra);
                    let precioFormateado = !isNaN(precio_compra) ? precio_compra.toFixed(2) : producto.precio_compra;
                    let fila = `
                        <tr>
                            <td>${producto.nombre}</td>
                            <td>${precioFormateado}</td>
                        </tr>
                    `;
                    $('#listaProductos').append(fila);
                }
            });
        },
        error: function(error) {
            console.error("Error al cargar los productos: ", error);
        }
    });
}


$('#fabricacionModal button:contains("Buscar Materia Prima")').click(function() {
    $('#buscarMateriaPrimaModal').modal('show');
});


$('#buscarMateriaPrimaModal').on('show.bs.modal', function() {
    cargarProductos();
});


$("#buscadorMateriaPrima").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#listaProductos tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
});

$("#aceptarProducto").click(function() {
    $("#buscarMateriaPrimaModal").modal('hide');
});

$('#listaProductos').on('dblclick', 'tr', function(event) {
    event.stopPropagation();  // Evita que el evento se propague a elementos padre.
    event.preventDefault();   // Previene el comportamiento predeterminado.

    const producto = $(this).find('td:nth-child(1)').text();
    const precio = parseFloat($(this).find('td:nth-child(2)').text());

    $('#productoSeleccionado').val(producto);
    $('#costoUnitarioProducto').val(precio.toFixed(2));

    $('#buscarMateriaPrimaModal').modal('hide');
});

$('#aceptarProducto').click(function() {
    const producto = $('#productoSeleccionado').val();
    const cantidad = parseFloat($('#cantidadProducto').val());
    const precioUnitario = parseFloat($('#costoUnitarioProducto').val());
    const totalCosto = cantidad * precioUnitario;

    const fila = `
        <tr>
            <td><input type="number" class="cantidad" value="${cantidad}"></td>
            <td>${producto}</td>
            <td class="precio-unitario">${precioUnitario.toFixed(2)}</td>
            <td class="total-costo">${totalCosto.toFixed(2)}</td>
        </tr>
    `;

    $('#fabricacionModal table tbody').append(fila);
    actualizarTotal();

    // Limpiar campos del producto seleccionado
    $('#productoSeleccionado').val('');
    $('#cantidadProducto').val('0');
    $('#costoUnitarioProducto').val('0.00');
});


$('#btnGuardarCambios').click(function() {
    // Vacía el contenedor para asegurarte de que no hay datos antiguos
    $('#componentesContainer').empty();

    // Recopila todos los datos de la tabla y crea inputs ocultos para enviarlos en el formulario
    $('#fabricacionModal table tbody tr').each(function(index) {
        const cantidad = parseFloat($(this).find('.cantidad').val());
        const producto = $(this).find('td:nth-child(2)').text();
        const costoUnitario = parseFloat($(this).find('.precio-unitario').text());

        // Crea campos ocultos en el formulario para cada componente
        $('#componentesContainer').append(`
            <input type="hidden" name="componentes-${index}-cantidad" value="${cantidad}">
            <input type="hidden" name="componentes-${index}-producto" value="${producto}">
            <input type="hidden" name="componentes-${index}-costo" value="${costoUnitario}">
        `);
    });

    // Añade el número total de componentes como un campo oculto
    $('#componentesContainer').append(`
        <input type="hidden" name="componentes-TOTAL_FORMS" value="${$('#fabricacionModal table tbody tr').length}">
    `);

    // Asigna el valor de Total Costo Producción al campo oculto de precio_compra
    const totalCostoProduccion = parseFloat($('#fabricacionModal .total-costo-produccion').val());
    $('#id_precio_compra').val(totalCostoProduccion.toFixed(2));
    // Finalmente, enviar el formulario
    $('form').submit();
});


});

</script>

{% endblock %}
