{% extends 'base.html' %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <table id="tablaMateriaPrima">
        <thead>
            <tr>
                <th>Cantidad</th>
                <th>Nombre</th>
                <th>Precio Unitario</th>
                <th>Costo Total</th>
            </tr>
        </thead>
        <tbody>
            <!-- Las filas se agregarán dinámicamente aquí -->
        </tbody>
    </table>
    <button type="button" id="btnBuscarProducto">Buscar Producto</button>
    <input type="text" id="costoTotalProduccion" readonly>
</form>

<script src="path_to_your_script.js"></script>  <!-- Asegúrate de que la ruta a tu script JavaScript sea correcta -->
{% endblock %}
